.endContainer {
  margin-top: 1rem;
  position: relative;
  &__topLeft {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__topRight {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__botMid {
    position: absolute;
    left: 40%;
    bottom: 0;
  }
  &__botRight {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__botLeft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  form {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  input {
    margin-top: 2rem;
    width: 250px;
    padding: 1.5rem;
    font-size: 24px;
    z-index: 2;
    border: none;
    -webkit-box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    outline: none;
    @include responsive-sm() {
      height: 40px;
    }
  }
  input::placeholder {
    color: rgb(189, 172, 172);
  }
}
#finalScore span {
  color: var(--green);
  font-weight: 500;
}
