.highscores {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  @include responsive-sm() {
    padding: 13px;
  }
  &__card {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
  }
  &__list {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    align-items: flex-start;
  }
  &__item {
    font-size: 30px;
    font-weight: 500;
    color: var(--green);
    @include responsive-sm() {
      font-size: 18px;
    }
    &--yellow {
      color: #ffb703;
    }
    &--red {
      color: var(--red);
    }
  }
  &__home {
    position: absolute;
    left: 40%;
    bottom: -100px;
    @include responsive-sm() {
      left: 20%;
    }
  }
}
img {
  @include responsive-sm() {
    display: none;
  }
}
